
body  {
    color: white;
    background-color: greenyellow
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, cursive;
    font-size: 150%;
    margin: 5em 25%;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}